body{
	background-color: black;
}
#navigationBar{
	background-color: black;
}
#image1 {
	background: url("Desktop.jpg.image.2880.jpg");
	background-size: contain;
	height: 37em;
	background-repeat: no-repeat;
	
}
#image2 {
	background: url("Jeep_MotorTrend2018_Wrangler_BHP_Desktop_V2.jpg.image.2880.jpg");
	background-size: contain;
	height: 37em;
	background-repeat: no-repeat;
}
#image3 {
	background: url("Jeep_Winter2018_Cherokee_desktop_1.jpg.image.2880.jpg");
	background-size: contain;
	height: 37em;
	background-repeat: no-repeat;
}
#image4 {
	background: url("Jeep_Winter2018_Renegade_desktop_BHP_V3.jpg.image.2880.jpg");
	background-size: contain;
	height: 37em;
	background-repeat: no-repeat;
}
#bodyDiv {
	background-color: #222222;
}
#carList {
	margin: auto;

}
.card {
	border: none;
	border-radius: 0;
}