body{
	background-color: black;
}
#navigationBar{
	background-color: black;
}
@media screen and (min-width: 769px){
	#image1 {
	background: url("Desktop.jpg.image.2880.jpg");
	background-size: contain;
	height: 37em;
	background-repeat: no-repeat;
	
	}
	#image2 {
		background: url("Jeep_MotorTrend2018_Wrangler_BHP_Desktop_V2.jpg.image.2880.jpg");
		background-size: contain;
		height: 37em;
		background-repeat: no-repeat;
	}
	#image3 {
		background: url("Jeep_Winter2018_Cherokee_desktop_1.jpg.image.2880.jpg");
		background-size: contain;
		height: 37em;
		background-repeat: no-repeat;
	}
	#image4 {
		background: url("Jeep_Winter2018_Renegade_desktop_BHP_V3.jpg.image.2880.jpg");
		background-size: contain;
		height: 37em;
		background-repeat: no-repeat;
	}	
	#offerCards {
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: white;
	}
}

@media screen and (max-width: 576px) {
	#image1 {
	background: url("mobile-jeep-1.jpg");
	background-size: contain;
	height: 45em;
	background-position: center;
	background-repeat: no-repeat;
	
	}
	#image2 {
		background: url("mobile-wrangler.jpg");
		background-size: contain;
		height: 45em;
		background-position: center;
		background-repeat: no-repeat;
	}
	#image3 {
		background: url("mobile-cherokee.jpg");
		background-size: contain;
		height: 45em;
		background-position: center;
		background-repeat: no-repeat;
	}
	#image4 {
		background: url("mobile-winter-renegade.jpg");
		background-size: contain;
		height: 45em;
		background-position: center;
		background-repeat: no-repeat;
	}
} 
@media screen and (min-width: 577px) and (max-width: 768px) {
	#image1 {
	background: url("mobile-jeep-1.jpg");
	background-size: contain;
	height: 50em;
	background-position: center;
	background-repeat: no-repeat;
	
	}
	#image2 {
		background: url("mobile-wrangler.jpg");
		background-size: contain;
		height: 50em;
		background-position: center;
		background-repeat: no-repeat;
	}
	#image3 {
		background: url("mobile-cherokee.jpg");
		background-size: contain;
		height: 50em;
		background-position: center;
		background-repeat: no-repeat;
	}
	#image4 {
		background: url("mobile-winter-renegade.jpg");
		background-size: contain;
		height: 50em;
		background-position: center;
		background-repeat: no-repeat;
	}
	#offerCards {
		padding-top: 2em;
		padding-bottom: 2em;
	}
} 
#bodyDiv {
	background-color: #222222;
}
#carList {
	margin: auto;

}
#vehicles-title {
	background-color: white;
	color: black;
}
.card {
	border: none;
	border-radius: 0;
}
#offerCards {
	background-color: #D1D1D1;
	color: white;
	margin: auto;
}
#customize-card {
	background-color: #E7E7E7;
	margin: auto;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
.customize-bg-color{
	background-color: #E7E7E7;
}

.black-background {
	background-color: black;
	color: white;
}
.footer-background {
	background-color: #212121;
}
.offer-bg-color {
	background-color: #D1D1D1;
}
#blue-book{
	background-color: #D1D1D1;
	margin: auto;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
.blue-book-bg-color{
	background-color: #D1D1D1;
}
#bottom-links {
	padding-top: 2em;
	padding-bottom: 2em;
}
#vehicles1 li {
	border: none;
	border-radius: 0;
	background-color: black;
	color: white;
}
.orangy-button {
	background-color: #FFBA00;
	padding: .5em 2em; 
	border-radius: 5px;
	color: black;
}
.orangy-button :hover {
	background-color: #b28200;
	padding: 0; 
	border-radius: 5px;
	color: black;
}
.orangy-button a {
	color: black;
	text-decoration: none;
}